@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="date"] {
    /* Cor Indigo 600 (a cor principal do seu projeto) */
    accent-color: #4f46e5; 
}